header {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-cover {
  display: flex;
  width: 97%;
  height: 95%;
  position: relative;
  background-image: linear-gradient(-45deg,#ff405c, #d01273 );
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(200, 200, 200);
}

.header-cover h1 {
  font-size: 3rem;
  color: white;
  font-weight: 300;
}

// Main

main {
  display: flex;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid rgb(200, 200, 200);
  width: 97%;
  height: 59vh;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;
}

//Title Container

.track-container {
  display: flex;
  width: 100%;
  height: 2.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.title-container {
  display: flex;
  width: 100%;
}

.titleNum {
  display: flex;
  width: 5%;
  justify-content: center;
  border-right: 1px solid rgb(200, 200, 200);
  color: rgb(120, 120, 120);
}

.titleTracks {
  display: flex;
  width: 45%;
  justify-content: center;
}

.titlePlay {
  display: flex;
  width: 20%;
  justify-content: center;
}

.titleDuration{
  display: flex;
  width: 15%;
  justify-content: center;
}

.titleAlbum {
  display: flex;
  width: 15%;
  justify-content: center;
}

//Track List

.listTrack {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.trackNum {
  display: flex;
  width: 5%;
  justify-content: center;
}

.trackTracks {
  display: flex;
  width: 45%;
  justify-content: center;
  font-weight: bold;
}

.trackPlay {
  display: flex;
  width: 20%;
  justify-content: center;
}

.trackDuration{
  display: flex;
  width: 15%;
  justify-content: center;
}

.trackAlbum {
  display: flex;
  width: 15%;
  justify-content: center;
}